## Abdollah Ebadi 202380535
## Keyvan Booshehri 202380539

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import ipywidgets as widgets
from ipywidgets import interact, SelectMultiple
import seaborn as sns

In [8]:
main_df = pd.read_csv("stroke.csv")

,Patient Id,Age,Gender,Comorbidities,Emergency Dept Time,Admission Time,Discharge Time,CT Scan Time,TPA Time,ICU Arrival Time,ICU Checkout Time,Neurology Ward Arrival Time,Occupational Therapist Visit,Speech Pathologist Visit,Physiotherapist Visit,Dietitian Visit,Social Worker Visit,Cardiologist Visit,Neurologist Visit
0,0,67,F,True,2022-06-15 19:27:00,2022-06-16 03:57:00,2022-07-04 07:07:00,2022-06-15 19:45:00,NaN,NaN,NaN,2022-06-16 05:01:00,2022-06-18 23:28:00,2022-07-04 06:26:00,2022-06-29 06:35:00,NaN,NaN,NaN,2022-06-20 06:47:00
1,1,75,F,False,2023-01-04 23:20:00,2023-01-05 02:13:00,2023-01-10 10:59:00,2023-01-04 23:33:00,NaN,2023-01-05 02:14:00,2023-01-06 09:44:00,2023-01-06 09:44:00,NaN,2023-01-07 01:21:00,2023-01-05 03:13:00,NaN,2023-01-06 00:39:00,NaN,2023-01-06 06:17:00
2,2,50,M,False,2022-12-28 18:33:00,2022-12-29 03:20:00,2023-01-06 08:01:00,2022-12-28 18:47:00,NaN,2023-01-01 08:51:00,2023-01-02 22:15:00,2023-01-02 22:15:00,NaN,NaN,NaN,2023-01-06 07:42:00,2023-01-01 04:57:00,NaN,2022-12-29 22:37:00
3,3,63,M,False,2023-05-28 11:08:00,2023-05-28 13:35:00,2023-06-26 06:38:00,2023-05-28 11:21:00,NaN,NaN,NaN,2023-06-24 18:28:00,2023-05-29 05:56:00,2023-06-07 13:40:00,2023-06-01 08:31:00,2023-06-07 23:12:00,2023-05-30 11:21:00,NaN,2023-05-29 11:59:00
4,4,64,M,False,2022-01-21 19:48:00,2022-01-22 05:16:00,2022-02-01 20:01:00,2022-01-21 20:01:00,NaN,NaN,NaN,2022-01-22 06:43:00,2022-02-01 19:30:00,NaN,NaN,NaN,2022-01-22 06:57:00,NaN,2022-01-26 21:26:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5142,5142,63,F,True,2022-05-28 16:56:00,2022-05-28 22:01:00,2022-06-10 05:52:00,2022-05-28 17:08:00,NaN,2022-05-28 22:29:00,2022-05-30 01:02:00,2022-05-30 01:02:00,2022-05-29 00:24:00,2022-05-29 04:57:00,NaN,2022-05-30 22:36:00,2022-06-03 22:25:00,2022-06-10 05:20:00,2022-06-04 15:42:00
5143,5143,75,F,True,2023-10-22 21:36:00,2023-10-23 03:07:00,2023-10-31 19:25:00,2023-10-22 21:58:00,NaN,NaN,NaN,2023-10-23 06:14:00,2023-10-24 23:38:00,2023-10-23 06:27:00,2023-10-26 18:11:00,2023-10-31 19:10:00,2023-10-26 00:18:00,NaN,2023-10-27 16:14:00
5144,5144,87,M,True,2023-12-11 00:52:00,2023-12-11 04:36:00,2023-12-18 19:59:00,2023-12-11 01:04:00,NaN,2023-12-11 04:39:00,2023-12-13 18:35:00,2023-12-13 18:35:00,2023-12-11 05:25:00,NaN,2023-12-11 03:54:00,NaN,NaN,NaN,2023-12-12 03:03:00
5145,5145,69,F,False,2022-03-12 00:01:00,2022-03-12 07:49:00,2022-03-20 09:46:00,2022-03-12 00:14:00,NaN,2022-03-12 09:09:00,2022-03-13 18:34:00,2022-03-13 18:34:00,NaN,2022-03-12 09:53:00,2022-03-13 02:55:00,NaN,2022-03-13 07:40:00,NaN,2022-03-12 15:19:00
5146,5146,67,M,True,2023-11-24 06:47:00,2023-11-24 17:18:00,2023-12-13 10:56:00,2023-11-24 06:59:00,NaN,2023-11-24 19:01:00,2023-12-12 10:16:00,2023-12-12 10:16:00,NaN,NaN,2023-11-25 19:18:00,2023-12-03 12:28:00,2023-11-27 13:26:00,NaN,2023-11-24 18:07:00

In [9]:
#plot 1
@interact(Gender=(['All', 'Men', 'Women']))
def f1(Gender): 
    df1 = main_df.copy()
    fig, ax = plt.subplots()
    if (Gender == 'All'):
        df1['ICU Arrival Time'] = pd.to_datetime(df1['ICU Arrival Time'])
        df1['ICU Checkout Time'] = pd.to_datetime(df1['ICU Checkout Time'])
        df1['age_category'] = pd.cut(df1['Age'], bins=range(0, 101, 10), right=False)
        # Calculate ICU time in hours
        df1['Avg_ICU_Time'] = (df1['ICU Checkout Time'] - df1['ICU Arrival Time']).dt.total_seconds() / 3600
        # Fill NaN values with 0
        df1['Avg_ICU_Time'] = df1['Avg_ICU_Time'].fillna(0)
        # Calculate average ICU time for each age decade category
        average_icu_time = df1.groupby('age_category', observed=False)['Avg_ICU_Time'].mean()
        age_categories = [f"{int(cat.left)} - {int(cat.right) - 1}" for cat in average_icu_time.index]
        ax.bar(x=age_categories, height=average_icu_time.values, color="#15803d")
        plt.xlabel('Age')
        plt.ylabel('Average ICU Time (hours)')
        plt.title('Average ICU Time by Age Decade')
        plt.xticks(rotation=45)
        plt.grid(False)
        plt.show()
    elif (Gender == 'Men'):
        df2 = main_df.copy()
        df2['ICU Arrival Time'] = pd.to_datetime(df2['ICU Arrival Time'])
        df2['ICU Checkout Time'] = pd.to_datetime(df2['ICU Checkout Time'])
        df2['age_category'] = pd.cut(df2['Age'], bins=range(0, 101, 10), right=False)
        # Calculate ICU time in hours
        df2['Avg_ICU_Time'] = (df2['ICU Checkout Time'] - df2['ICU Arrival Time']).dt.total_seconds() / 3600
        # Fill NaN values with 0
        df2['Avg_ICU_Time'] = df2['Avg_ICU_Time'].fillna(0)
        # Filter data for male patients
        male_data = df2[df2['Gender'] == 'M']

        # Group by age category and calculate mean ICU time
        male_grouped_data = male_data.groupby('age_category', observed=False)['Avg_ICU_Time'].mean()
        # Define custom tick labels
        age_categories2 = [f"{int(cat.left)} - {int(cat.right) - 1}" for cat in male_grouped_data.index]
        ax.bar(x=age_categories2, height=male_grouped_data.values, color="#0891b2")
        plt.xlabel('Age')
        plt.ylabel('Average ICU Time (hours)')
        plt.title('Average ICU Time by Age Decade')
        plt.xticks(rotation=45)
        plt.grid(False)
        plt.show()
    elif (Gender == 'Women'):
        df3 = main_df.copy()
        df3['ICU Arrival Time'] = pd.to_datetime(df3['ICU Arrival Time'])
        df3['ICU Checkout Time'] = pd.to_datetime(df3['ICU Checkout Time'])
        df3['age_category'] = pd.cut(df3['Age'], bins=range(0, 101, 10), right=False)
        # Calculate ICU time in hours
        df3['Avg_ICU_Time'] = (df3['ICU Checkout Time'] - df3['ICU Arrival Time']).dt.total_seconds() / 3600
        # Fill NaN values with 0
        df3['Avg_ICU_Time'] = df3['Avg_ICU_Time'].fillna(0)
        # Filter data for male patients
        female_data = df3[df3['Gender'] == 'F']
        # Group by age category and calculate mean ICU time
        female_grouped_data = female_data.groupby('age_category', observed=False)['Avg_ICU_Time'].mean()
        # Define custom tick labels
        age_categories3 = [f"{int(cat.left)} - {int(cat.right) - 1}" for cat in female_grouped_data.index]
        ax.bar(x=age_categories3, height=female_grouped_data.values, color="#7e22ce")
        plt.xlabel('Age')
        plt.ylabel('Average ICU Time (hours)')
        plt.title('Average ICU Time by Age Decade')
        plt.xticks(rotation=45)
        plt.grid(False)
        plt.show()
        print("Women")

interactive(children=(Dropdown(description='Gender', options=('All', 'Men', 'Women'), value='All'), Output()),…

In [10]:
#plot 2
@interact(VisitType=(['Occupational Therapist Visit', 'Speech Pathologist Visit', 'Physiotherapist Visit','Dietitian Visit','Social Worker Visit','Cardiologist Visit','Neurologist Visit']),comorbidities=True,)
def f1(VisitType,comorbidities): 
    fig, ax = plt.subplots()
    main_df2 = pd.read_csv("stroke.csv")
    main_df2=main_df2[main_df2['Comorbidities']==comorbidities]
    main_df2=main_df2.groupby("Gender").size().reset_index()
    total_f=main_df2[0][0]
    total_m=main_df2[0][1]
    total=total_m+total_f
    main_df3 = pd.read_csv("stroke.csv")
    main_df3=main_df3[main_df3['Comorbidities']==comorbidities]
    main_df3 = main_df3.dropna(subset=[VisitType])
    main_df3=main_df3.groupby("Gender").size().reset_index()
    ax.pie([main_df3[0][0]/total,main_df3[0][1]/total,(total-main_df3[0][0]-main_df3[0][1])/total],labels=['female','male','no visit'],autopct='%1.1f%%')
    plt.title('Distribution of visitis based on specialization and comorbidities')

interactive(children=(Dropdown(description='VisitType', options=('Occupational Therapist Visit', 'Speech Patho…

In [11]:

@interact(AgeStart="30",AgeEnd="50",Gender=["All","Male","Female"])
def f1(AgeStart,AgeEnd,Gender):
    main_df4 = pd.read_csv("stroke.csv")
    main_df4
    main_df5 = pd.read_csv("stroke.csv")
    main_df5
    if AgeStart != "":
        AgeStart=int(AgeStart)
        main_df5=main_df5[main_df5['Age']>=AgeStart]
        main_df4=main_df4[main_df4['Age']>=AgeStart]
    if AgeEnd != "":
        AgeEnd=int(AgeEnd)
        main_df5=main_df5[main_df5['Age']<=AgeEnd]
        main_df4=main_df4[main_df4['Age']<=AgeEnd]

    if Gender=="Male":
        main_df5=main_df5[main_df5['Gender']=='M']
        main_df4=main_df4[main_df4['Gender']=='M']
    if Gender=="Female":
        main_df5=main_df5[main_df5['Gender']=='F']
        main_df4=main_df4[main_df4['Gender']=='F'] 
    main_df5=main_df5[main_df5['Comorbidities']==True]
    main_df4=main_df4[main_df4['Comorbidities']==False] 
    fig, ax = plt.subplots()
    main_df4=main_df4.groupby(["Age"],observed=False).size().to_frame('freq',).reset_index()
    main_df5=main_df5.groupby(["Age"],observed=False).size().to_frame('freq',).reset_index()
    ax.plot(main_df4['Age'],main_df4['freq'],color='blue',label="Without Comorbidities")
    ax.plot(main_df5['Age'],main_df5['freq'],color='red',label="With Comorbidities")
    plt.xlabel('Age')
    plt.ylabel('Visits')
    plt.title('Visits Based on Age')
    ax.legend(title='Comorbidities')

interactive(children=(Text(value='30', description='AgeStart'), Text(value='50', description='AgeEnd'), Dropdo…

In [12]:
#plot 4
@interact(Gender=(['All', 'Men', 'Women']),ICU=False,TPA=False)
def f1(Gender,ICU,TPA): 
	main_df5 = pd.read_csv("stroke.csv")
	fig, ax = plt.subplots()
	if Gender=="Men":
		main_df5=main_df5[main_df5['Gender']=='M']
	if Gender=="Women":
		main_df5=main_df5[main_df5['Gender']=='F']

	if TPA is True:
		main_df5 = main_df5.dropna(subset=['TPA Time'])
	if ICU is True:
		main_df5 = main_df5.dropna(subset=['ICU Arrival Time','ICU Checkout Time'])


	main_df5['Admission Time'] = pd.to_datetime(main_df5['Admission Time'])
	main_df5['Discharge Time'] = pd.to_datetime(main_df5['Discharge Time'])
	main_df5['Emergency Dept Time'] = pd.to_datetime(main_df5['Emergency Dept Time'])

	main_df5['Hosp_Time'] = -(main_df5['Admission Time'] - main_df5['Discharge Time']).dt.total_seconds() / 3600
	main_df5['Wait_Time'] = -(main_df5['Emergency Dept Time'] - main_df5['Admission Time']).dt.total_seconds() / 3600

	# Fill NaN values with 0
	main_df5['Hosp_Time'] = main_df5['Hosp_Time'].fillna(0)
	main_df5['Wait_Time'] = main_df5['Wait_Time'].fillna(0)

	ax.scatter(main_df5['Hosp_Time'],main_df5['Wait_Time'],s=1)
	plt.xlabel('Length of stay (hours)')
	plt.ylabel('Waiting time (hours)')
	plt.title('Distribution of waiting time and stay time')
	plt.show()

interactive(children=(Dropdown(description='Gender', options=('All', 'Men', 'Women'), value='All'), Checkbox(v…